@font-face {
    font-family: 'Atyp BL Text';
    src: url('../fonts/AtypTextTRIAL-Regular-BF65727125ea126.otf') format('otf');
    font-weight: normal;
    font-style: normal;
    font-display: swap; 
}

@font-face {
    font-family: 'Atyp BL Text';
    src: url('../fonts/AtypTextTRIAL-Medium-BF65727125d9c4c.otf') format('otf');
    font-weight: 500;
    font-style: normal;
    font-display: swap; 
}

@font-face {
    font-family: 'Atyp BL Text';
    src: url('../fonts/AtypTextTRIAL-Semibold-BF65727125e65f1.otf') format('otf');
    font-weight: 600;
    font-style: normal;
    font-display: swap; 
}